.tabbed1 {
	padding-left: 2em;
}

.tabbed2 {
	padding-left: 4em;
}

.tabbed3 {
	padding-left: 6em;
}

.tabbed4 {
	padding-left: 8em;
}

.tabbed5 {
	padding-left: 10em;
}

.tabbed6 {
	padding-left: 12em;
}

.tabbed7 {
	padding-left: 14em;
}

.tabbed8 {
	padding-left: 16em;
}

body {
	min-width: 800px;
}


.menuButton {
	background-color: #990000;
	border: 0;
	border-radius: 0px;
	width: 98px;
	height: 40px;
	font-size: 17px;
	cursor: pointer;
	color: #eeeeee;
	margin: 0;
	padding: 0;
}

.menuButtonActivated {
	background-color: #bc0000;
}

.menuButtonDiv {
	float: left;
	width: 100px;
	height: 40px; 
	border-left: 1px solid #990000;
	border-right: 1px solid #990000;
	font-size: 0;
	display: inline-block;
}

.subMenuButton {
  display: inline-block;
  padding: 5px 25px;
  margin-bottom: 5px; 
  width: 150px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #eeeeee;
  background-color: #990000;
  border: none;
  border-radius: 5px;
}

.subMenuButton:hover {
	background-color: #bc0000
	}

.subMenuButton:active {
  background-color: #bc0000;
  transform: translateY(4px);
}

.content {
	background-color: #ffffff;
	min-width: 800px;
	height: 500px;
	z-index: 0;
	position: relative;
	top: 90px;
}

.content-left {
	background-color: #ffffff;
	width: 150px;
	height: 100%;
	float: left;
	z-index: 0;
}

.content-right {
	background-color: #ffffff;
	width: 150px;
	height: 100%;
	float: right;
	z-index: 0;
}

.content-center {
	background-color: #ffffff;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.contentDiv {
	margin: 0px 20px;
}

.zasoby {
	width: 150px; 
	height: 100%;
	float: right;
	border-radius: 20px;
}

.linki {
	width: 150px; 
	height: 100%; 
	float: left;
	border-radius: 20px;
}

code {
	color: #0066cc;
	font-family: monospace;
	font-size: 15px;
}

.clickDiv {
	color: #990000;
}

.important {
	color: #990000;
}

.codeDiv {
	border: 1px solid #80bfff; 
	border-radius: 5px; 
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px; 
	padding-right: 80px;
	color: #0066cc;
	background-color: #e6f7ff;
	font-size: 15px;
	margin: 20px 0;
	overflow: auto;
	display: block;
  	font-family: arial;
  	white-space: pre;
}

.codeConsole {
	border: 1px solid #222222; 
	border-radius: 5px;
	margin: 10px 0px; 
	padding: 10px;
	padding-left: 20px;
	color: #eeeeee;
	background-color: #555555;
	font-family: monospace;
	font-size: 15px;
	display: flex;
	text-indent: -10px;
	white-space: pre;
	overflow: auto;
}

.codeConsole:before{
	content: "Konsola:";
} 

.codeParagraphDiv {
	padding-left: 20px;
}

.codeParagraph {
	text-indent: -20px;
	margin: 0;
}

p {
	font-size: 17px; 
	margin: 20px 0px;
	text-align: justify;
}

h1 {
	text-align: center; 
	color: #990000;
}

h2 {
	color: #990000;
	text-align: center;
}

h3 {
	color: #990000;
}

.menuDiv {
	height: 40px; 
	background-color: #990000; 
	margin: 30px 0px;
}

#imgZoomDiv {
	position: fixed; 
	z-index: 1001;
}

#menu {
	position: absolute;
	width: 100%;
	min-width: 800px;
	z-index: 1;
}

table, th, td {
	border: 1px solid #555555;
	border-collapse: collapse;
}

th, td {
	padding: 25px 15px;
}

.rowLight {
	background-color: #e6f9ff;
}

img {
	width: 100%; 
	height: auto; 
	cursor: pointer; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.wciecia {
	margin-left: 30px; 
	text-indent: -30px;
}

.opaqueLayer {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.6;
    filter:alpha(opacity=60);
    background-color: #000000;
    z-Index:1000;
}

.questionLayer
{
    position:fixed;
    top:0px;
    left:0px;
    width:350px;
    height:200px;
    display:none;
    z-Index:1001;
    border:2px solid black;
    background-color:#FFFFFF;
    text-align:center;
    vertical-align:middle;
    padding:10px;
}